# The Bexio base API URL without version
BEXIO_HOST="https://api.bexio.com"
# Your Bexio API token
BEXIO_TOKEN=""
# The Bexio user ID which will be used to create the invoices
BEXIO_USER_ID="1"
# The Bexio owner ID which will be used to create the invoices
BEXIO_OWNER_ID="1"
# The Bexio language ID which will be used to create the invoices
BEXIO_INVOICE_LANGUAGE_ID="1"
# The Bexio bank account (eg. Postfinance, ZKB, ...) ID where invoices will be paid to
BEXIO_INVOICE_BANKING_ACCOUNT_ID="1"
# The Bexio currency ID which will be used to create the invoices
BEXIO_INVOICE_CURRENCY_ID="1"
# The Bexio payment type ID for cash payments, will be used if lobo invoice.iscashinvoice === true
BEXIO_INVOICE_PAYMENT_TYPE_CASH_ID="2"
# The Bexio payment type ID for invoice payments
BEXIO_INVOICE_PAYMENT_TYPE_INVOICE_ID="4"
# The Bexio unit type ID, maybe use "Stk"
BEXIO_INVOICE_UNIT_TYPE_ID="1"
# The Bexio tax ID for revenue invoice positions, eg. 8.1%
BEXIO_INVOICE_REVENUE_TAX_ID=""
# The Bexio tax ID for expenses invoice positions, which are tax-free
BEXIO_INVOICE_EXPENSES_TAX_ID=""
# The Bexio revenue account ID, eg. 3400
BEXIO_INVOICE_REVENUE_ACCOUNT_ID=""
# The Bexio expenses account ID, eg. 3401
BEXIO_INVOICE_EXPENSES_ACCOUNT_ID=""

LOBO_API_HOST="example.com/lobo/api/v3/public"
LOBO_API_USER=""
LOBO_API_PASS=""

# Number of months back to sync, starts at current date. eg. if now = 9th of March, then 3 months back is March, February, January
NUM_MONTHS_TO_SYNC=12